@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Krub:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main-violet: 108, 99, 255;
  --light-violet: 161, 155, 255;
  --lighter-violet: 204, 201, 255;
  --dark-grey: 65, 65, 65;
  --disabled-grey: 177, 177, 177;
  --menu-white: 255, 255, 255, 0.1;
  --white: 225, 225, 255;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--white));
  background: linear-gradient(to bottom,
      rgb(var(--main-violet)) 75%, rgb(var(--white)));
  scrollbar-color: rgb(var(--main-violet)) rgb(var(--white));
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: white;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--white));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--main-violet));
  border-radius: 5px;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.header {
  font-family: 'Krona One', sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 4.9rem);
}

section {
  height: calc(100vh - 4.9rem);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

section>div {
  transition: transform 1s;
}

.content-fade-out {
  transform: translate(-100%);
  opacity: 0;
}

section:nth-of-type(3) {
  background-color: rgb(94, 156, 0);
}

section:nth-of-type(4) {
  background-color: rgb(158, 147, 43);
}

nav {
  background: rgb(var(--menu-white))
}

nav>div {
  animation: fade-down 1s;
}

a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

li a {
  overflow: hidden;
}

li a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

li a:hover::after,
li a:focus::after {
  transform: translate3d(0, 0, 0);
}